nav.navbar {
  background-color: #131517;
  border-bottom: #687681 solid 1px
}

nav.navbar .form-inline > div {
  margin: 1rem;
}

nav.navbar .form-inline .form-group {
  margin: 0;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: auto;
}

nav.navbar .shiny-input-container {
  margin-right: 1rem;
}

nav.navbar .shiny-input-container label {
  margin-right: 0.75rem;
}

label[for="sort_by"] {
  padding-left: 0;
}

#movies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#movies .card-container {
  width: 100%;
  position: relative;
}

@media (min-width: 800px) {
  #movies .card-container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  #movies .card-container {
    width: 33%;
  }
}

@media (min-width: 1600px) {
  #movies .card-container {
    width: 25%;
  }
}

a.card {
  text-decoration: none;
}

a.card:active, a.card:focus {
  outline: none;
}

#movies .card {
  margin: 10px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #4D565F;
  background-repeat: no-repeat;
  height: 138px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

#movies .card:hover {
  background-color: #43515F;
}

#movies .card[aria-describedby] {
  background-color: #131517;
}

#movies .card-body {
  margin-left: 92px;
  padding: 0;
}

#movies .card-container span.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  border-radius: 0 10px;
  cursor: pointer;
  font-size: 1.2em;
}

#movies .card-container span.badge:hover, #movies .card-container span.badge.selected {
  background-color: #ffc107;
}

#movies .card-text {
  position: relative;
  height: 138px;
}

#movies .card-text-inner {
  padding: 0.5rem;
}

#movies h5 {
  margin: 0 10px 0.5rem 0;
  color: white;
}

.year-runtime {
  color: white;
  margin: 0;
  line-height: 1;
}

.year-runtime span {
  color: #97A9BB;
}

span.runtime {
  font-style: italic;
}

.rating {
  position: relative;
  vertical-align: top;
  display: inline-block;
  color: #2F343A;
  overflow: hidden;
}

.filled {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffc107;
}

.rating .empty:before, .rating .filled:before {
  content:"\2605\2605\2605\2605";
  font-size: 14px;
}

.stars {
  margin: 0;
  color: #8A9AAA;
  line-height: 1;
  height: 12px;
  width: 48px;
  font-size: 12px;
}

.stars span {
  width: 12px;
  height: 12px;
  float: left;
}

.stars .filling {
  height: 12px;
}

#movies p.genres {
  margin: 0;
  padding: 0.2rem 0.5rem 0.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #33495F;
  color: #84A2C0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: lowercase;
  line-height: 1;
}

#movies .card:hover p.genres {
  background-color: #2B455F;
}

#movies .card[aria-describedby] p.genres {
  background-color: #000000;
}

.popover {
  max-width: 400px;
  background-color: transparent;
}

.popover-body {
  background-color: #131517;
  color: #CACBCC;
  border-radius: 10px;
}

.popover-body p {
  font-size: 0.8rem;
}

.popover button.close {
  margin-left: 10px;
}

.popover-body h6 {
  color: white;
  margin-bottom: 0;
}

.popover-body a {
  color: white;
}

.popover-body > *:last-child {
  margin-bottom: 0;
}

.arrow::before, .bs-popover-right .arrow::before {
  border-right: none !important;
}

.arrow::after, .bs-popover-right .arrow::after {
  border-right-color:  #131517  !important;
}

.arrow::before, .bs-popover-left .arrow::before {
  border-left: none !important;
}

.arrow::after, .bs-popover-left .arrow::after {
  border-left-color:  #131517  !important;
}

#movies.shiny-output-error-validation {
  padding: 1rem;
}
